.background {
  background-image: url("C:\Users\julia\OneDrive\Documents\reactFinalGame\math-game\src\pages\mbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.custom-shadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), /* Soft shadow */
              0px 5px 20px rgba(2, 9, 4, 0.3); /* Secondary shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
  backdrop-filter: blur(5px); /* Frosted glass effect */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  border-radius: 15px; /* Rounded corners */
}

.custom-shadow:hover {
  box-shadow: 0px 5px 10px 10px rgb(6, 96, 29, 0.3), 
            0px 5px 10px 10px rgb(6, 96, 29, 0.3);
}  

.custom-shadow:active { 
  transform: scale(1); 
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), 
               0 4px 4px rgba(0, 0, 0, 0.2);
}  

.easybg{
  background-image: url("C:\Users\julia\OneDrive\Documents\reactFinalGame\math-game\src\pages\easybg.jpg");
}

.midbg{
  background-image: url("C:\Users\julia\OneDrive\Documents\reactFinalGame\math-game\src\pages\midbg.jpg");
}

.hardbg{
  background-image: url("C:\Users\julia\OneDrive\Documents\reactFinalGame\math-game\src\pages\hardbg.jpg");
}
.text-custom {
  color: #ffffff; /* A vibrant purple for an elegant look */
  text-shadow: 2px 2px 4px rgba(5, 102, 1); /* Subtle shadow for depth */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.text-custom:hover {
  color: #ffffff; /* Slightly darker shade on hover */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); /* Enhanced shadow effect */
}

.text-custom1 {
  color: #ed0000; /* A vibrant purple for an elegant look */
  text-shadow: 2px 2px 4px rgba(3, 3, 3, 0.1); /* Subtle shadow for depth */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.text-custom1:hover {
  color: #ed0000; /* Slightly darker shade on hover */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); /* Enhanced shadow effect */
}

.text-custom2 {
  color: #ffffff; /* A vibrant purple for an elegant look */
  text-shadow: 2px 2px 4px rgba(3, 3, 3, 0.1); /* Subtle shadow for depth */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.text-custom2:hover {
  color: #ffffff; /* Slightly darker shade on hover */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); /* Enhanced shadow effect */
}


.text-header {
  color: #0a5f32;
  text-shadow: 2px 2px 4px rgb(255, 255, 255); /* Subtle shadow for depth */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.text-round {
  color: #ffffff; /* A vibrant purple for an elegant look */
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Subtle shadow for depth */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.glass {
  backdrop-filter: blur(5px); /* Frosted glass effect */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0px 5px 10px 10px rgb(6, 96, 29)
}

.glass1 {
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0px 5px 10px 10px rgb(6, 96, 29)
}

